.feedback {
  margin-top: 20px;
  background-color: #dddddd;
  padding: 10px;
  display: flex;
  align-items: center;
  
  svg {
    height: 30px;
  }
  
  .message{
    padding-left: 5px;
  }
}

.fb-appear{
  opacity: 0.0;
}

.fb-appear.fb-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}