.ray {


   &.correct{
     line {
       stroke: green;
     }
     .arrow {
       fill: green;
       stroke-width: 1px;
       stroke: green;
     }
   }

   &.incorrect{
     line {
       stroke: orange;
     }
     .arrow {
       fill: orange;
       stroke-width: 1px;
       stroke: orange;
     }
   }

   &.selected{
    .arrow{
        fill:#aaaaff;
    }
    line {
      stroke:#aaaaff;
    }
    circle{
      stroke:#aaaaff;
    }
  }

  .arrow{
    fill: black;
  }
  line{
    stroke-width: 5px;
    stroke: black;
  }
}